atom-text-editor::shadow .keyword.other.hql{
text-transform: uppercase;
}
atom-text-editor::shadow .storage.type.hql{
text-transform: uppercase;
}
atom-text-editor::shadow .support.function.hql{
text-transform: uppercase;
}
atom-text-editor::shadow .storage.modifier.hql{
text-transform: uppercase;
}
atom-text-editor::shadow .entity.name.function.hql{
text-transform: uppercase;
}
atom-text-editor .keyword.other.hql{
text-transform: uppercase;
}
atom-text-editor .storage.type.hql{
text-transform: uppercase;
}
atom-text-editor .support.function.hql{
text-transform: uppercase;
}
atom-text-editor .storage.modifier.hql{
text-transform: uppercase;
}
atom-text-editor .entity.name.function.hql{
text-transform: uppercase;
}
